@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'saol';
    src: url(../fonts/saol.woff2) format("woff2"), url(../fonts/saol.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}