/* Side menu */
.side {
    width: 60px; height: 100vh;
    background-color: #212121;
    position: fixed;
    left: 0; top: 0;
    z-index: 10;
}
.side .hamBox {
    margin-top: 15px;
    margin-left: 15px;
}
.side .ham {
    width: 30px; height: 3px;
    margin-top: 5px;
    border-radius: 20px;
    background-color: #fff;
}
.side .bar {
    width: 1px; height: 550px;
    background-color: #464646;
    margin-left: 30px;
    margin-top: 15px;
}
.side .port {  
   
}
.side .port h3 {
    color : #fff;
    font-size: 30px;
    transform: rotate(-90deg) translateX(-125px);
    margin-left: 5px;
}

/* section1- Main */
#section1 {
    background: url(../img/aboutMain.jpg) no-repeat center center;
    background-size: cover;
    z-index: -1;
}
#section1 .title {
    width: 50%; height: 100vh;
    background-color: #fff;
}
#section1 .title .titleText {
    font-size: 9vw;
    color : #fff;
    line-height: .9;
    margin-left: 100px;
    transform : translateY(57vh);
}
#section1 .title .who {
    
}
#section1 .title .am {
    margin-left: 150px;
}


#section1 .tri {
    width: 50%; height: 100vh;
    background-color: red;
}
#section1 .tri img {
   
}


/* section2 */
#section2 {
    background-color: #212121;
}
#section2 .aboutTitle {
    color :#fff;
}
#section2 .aboutTitle h2 {
   
}