 body {
     margin: 0 auto;
 }

 .wrapper {
     position: relative;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     height: 100vh;
     width: 1500vw;
 }

 .thumbnail {
     display: inline-block;
     position: relative;
     height: 100vh;
     width: 100vw;
 }

 .thumbnail:nth-child(1) {
     background: url(../img/main.jpg);
     background-size: cover;
     width: 150vw;
 }

 .thumbnail:nth-child(2) {
     background-color: #212121;
     z-index: 1000;
 }

 .thumbnail:nth-child(3) {
     background-color: red;
     z-index: 2000;
 }

 .thumbnail:nth-child(4) {
     background-color: #343434;
     z-index: 2000;
 }

 .thumbnail:nth-child(5) {
     background-color: purple;
 }

 .thumbnail:nth-child(6) {
     background-color: black;
 }

 .thumbnail:nth-child(7) {
     background-color: green;
 }

 .thumbnail:nth-child(8) {
     background-color: darkred;
 }

 .thumbnail:nth-child(9) {
     background-color: teal;
 }

 .thumbnail:nth-child(10) {
     background-color: steelblue;
 }

 .thumbnail:nth-child(11) {
     background-color: salmon;
 }

 .thumbnail:nth-child(12) {
     background-color: #972C20;
 }

 .thumbnail:nth-child(13) {
     background-color: #72FAB6;
 }

 .thumbnail:nth-child(14) {
     background-color: #7274FA;
 }

 .thumbnail:nth-child(15) {
     background-color: #FAEC72;
 }