 body {
     margin: 0 auto;
 }

 /* footer {
     height: 10vh;
     position: fixed;
     bottom: 0;
 }

 .scroll {
     position: relative;
     width: 100vw;
     height: 0.5px;
     background: #999;
     top: calc(5vh + 20px);
 }

 .scrollbar {
     position: relative;
     border-radius: 25px;
     color: white;
     background-color: #333;
     width: 400px;
     height: 30px;
     top: calc(5vh + 5px);
 }

 ::-webkit-scrollbar {
     display: none;
 } */

 .wrapper {
     position: relative;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     height: 100vh;
     width: 1500vw;
 }

 .thumbnail {
     display: inline-block;
     height: 100vh;
     width: 100vw;
 }

 .thumbnail:nth-child(1) {
    
 }

 .thumbnail:nth-child(2) {
     
 }

 .thumbnail:nth-child(3) {
     background-color: #212121;
 }

 .thumbnail:nth-child(4) {
     background-color: #343434;
 }

 .thumbnail:nth-child(5) {
     background-color: purple;
 }

 .thumbnail:nth-child(6) {
     background-color: black;
 }

 .thumbnail:nth-child(7) {
     background-color: green;
 }

 .thumbnail:nth-child(8) {
     background-color: darkred;
 }

 .thumbnail:nth-child(9) {
     background-color: teal;
 }

 .thumbnail:nth-child(10) {
     background-color: steelblue;
 }

 .thumbnail:nth-child(11) {
     background-color: salmon;
 }

 .thumbnail:nth-child(12) {
     background-color: #972C20;
 }

 .thumbnail:nth-child(13) {
     background-color: #72FAB6;
 }

 .thumbnail:nth-child(14) {
     background-color: #7274FA;
 }

 .thumbnail:nth-child(15) {
     background-color: #FAEC72;
 }