 body {
     margin: 0 auto;
 }


/* layout */
#contents {
    display: flex;
    flex-wrap: wrap;
    width: 2620vw;
}


 .thumbnail {
     /* display: inline-block; */
     position: relative;
     height: 100vh;
     width: 100vw;
 }

 .thumbnail:nth-child(1) {
     background: url(../img/main.jpg);
     background-size: cover;
     width: 150vw;
 }

 .thumbnail:nth-child(2) {
     background-color: #212121;
     z-index: 1000;
 }

 .thumbnail:nth-child(3) {
     background-color: #343434;
     z-index: 2000;
     overflow: hidden;
 }

 .thumbnail:nth-child(4) {
     background: url(../img/webstan.jpg) no-repeat center center;
     background-size: cover;
     overflow: hidden;
     z-index: 3000;
 }

 .thumbnail:nth-child(5) {
     background: url(../img/megabox.jpg) no-repeat center center;
     background-size: cover;
     overflow: hidden;
     z-index: 4000;
 }

 .thumbnail:nth-child(6) {
     background: url(../img/goodnight.jpg) no-repeat center center;
     background-size: cover;
     overflow: hidden;
     z-index: 5000;
 }

 .thumbnail:nth-child(7) {
     background: url(../img/applesite.jpg) no-repeat center center;
     background-size: cover;
     overflow: hidden;
     z-index: 6000;
 }

 .thumbnail:nth-child(8) {
     background: url(../img/reactsite.jpg) no-repeat center center;
     background-size: cover;
     overflow: hidden;
     z-index: 7000;
 }

 .thumbnail:nth-child(9) {
     background: url(../img/scriptworks.jpg) no-repeat center center;
     background-size: cover;
     overflow: hidden;
     z-index: 8000;
 }

 .thumbnail:nth-child(10) {
     background-color: #343434;
     z-index: 9000;
     overflow: hidden;
 }

 .thumbnail:nth-child(11) {
     background-color: #f4f3f3;
     z-index: 10000;
     overflow: hidden;
 }

 .thumbnail:nth-child(12) {
     background-color: #fff;
     z-index: 11000;
     overflow: hidden;
 }

 .thumbnail:nth-child(13) {
     background-color: #fff;
     z-index: 12000;
     overflow: hidden;
 }

 .thumbnail:nth-child(14) {
     background-color: #fff;
     z-index: 13000;
     overflow: hidden;
 }

 .thumbnail:nth-child(15) {
     background-color: #fff;
     z-index: 14000;
     overflow: hidden;
 }

 .thumbnail:nth-child(16) {
     background-color: #f4f3f3;
     z-index: 14000;
     overflow: hidden;
 }

 .thumbnail:nth-child(17) {
     background: url(../img/animationbg.jpg) no-repeat center;
     background-size: cover;
     z-index: 15000;
     overflow: hidden;
 }

 .thumbnail:nth-child(18) {
     background-color: #000;
     z-index: 16000;
     width: 150vw;
 }

 .thumbnail:nth-child(19) {
     background-color: #000;
     z-index: 17000;
     width: 150vw;
 }

 .thumbnail:nth-child(20) {
     background-color: #000;
     z-index: 18000;
     width: 150vw;
 }

 .thumbnail:nth-child(21) {
     background-color: #000;
     z-index: 19000;
     width: 150vw;
 }

 .thumbnail:nth-child(22) {
     background-color: #343434;
 }